<div class="jumbotron center">
	<h1>Добро пожаловать в моё приложение!</h1>
	<p>
		 <%= link_to "Войти", "#", class: "btn btn-default btn-lg" %>
		 <%= link_to "Регистрация", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>
